@{
    ViewData["Title"] = "Cerca un Film";
}

<h2>Cerca un Film</h2>

<form asp-controller="CatalogoFilm" asp-action="Search" method="post">
    <input type="text" name="title" placeholder="Inserisci il titolo..." required />
    <button type="submit">Cerca</button>
</form>

